header {
    background-color: rgb(15, 88, 25);
    color: white;
    padding: 1rem 4rem; /* más alto y más ancho */
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 1000;
    box-shadow: 0 3px 8px rgba(0,0,0,0.15);

    display: flex;
    justify-content: space-between; /* izquierda - derecha */
    align-items: center;            /* centro vertical */
    box-sizing: border-box;
}

.logo img{
    width: 25%;   /* Ancho deseado */
    height: auto; 
    /* border-radius: 100%; */
}

.menu {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    gap: 3rem; 
    list-style: none;
    margin: 0;
    padding: 0;
}

.menu a {
    color: white;
    text-decoration: none;
    font-size: 1.2rem;
    font-weight: 500;
    display: inline-flex;          
    align-items: center;          
    gap: 0.5rem;                   
    white-space: nowrap;           
    transition: color 0.2s ease;
}

.menu a:hover {
    color: #e0e0ff;
}

body {
    background-color: #c9c9c9;
}

main {
  max-width: 1300px;
  margin: 0 auto;
  padding: 0 20px;
  padding-bottom: 280px;
}

h2 {
    margin: 20px 0;
}

/* Carrusel */

.carousel-item:before{
    content: '';
    position: absolute;
    backdrop-filter: grayscale(100%);
    inset: 0;
    background-color: rgba(0, 0, 0, 0.35);
}

.carousel-caption{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;

    display: flex;
    flex-direction: column;
    justify-content: center; /* centro vertical */
    align-items: center;     /* centro horizontal */

    text-align: center;
    padding: 10rem;
}

.carousel-item img {
    width: 100%;
    height: 80vh;        /* todas iguales */
    object-fit: cover;  /* recorta sin deformar */
}


.carousel-caption h1 {
    font-size: 3rem;
    font-weight: 600;
    color: rgb(255, 255, 255);
    /* -webkit-text-stroke: 1px #ffffff; */
}

/* Institucional */

#institucional-resumen {
    border-radius: 10px;
    box-shadow: 0 0 8px rgba(0,0,0,0.1);
    text-decoration: none;
    overflow: hidden;
    color: #333;
    transition: transform 0.3s ease;
    background-color: #ffffff;
    position: relative;   /* referencia para absolute */
    padding-bottom: 3rem; 
}

#institucional-resumen .box-institucional {
    margin: 20px 60px;
    font-size: 19px;
    text-align: center;
} 


/* Novedades */

.seccion2 {
    margin-top: 100px;
}

#novedades .box-novedades {
  border-radius: 10px;
  box-shadow: 0 0 8px rgba(0,0,0,0.1);
  text-decoration: none;
  overflow: hidden;
  color: #333;
  transition: transform 0.3s ease;
  background-color: #fff;
  position: relative;   /* referencia para absolute */
  padding-bottom: 3rem; 
}

#novedades .box-novedades:hover {
  transform: translateY(-5px);
}

#novedades .box-novedades img {
  width: 100%;
  height: 180px;
  object-fit: cover;
}

#novedades .box-novedades h3 {
  margin: 20px 10px;
  font-size: 18px;
}

#novedades .box-novedades p {
  margin: 20px 10px;
  font-size: 16px;
}

.link-info {
    position: absolute;
    bottom: 1rem;
    left: 1rem;
    color: white;
    text-decoration: none;
    font-weight: 500;
    font-size: 1.1rem;
}

.link-info:hover {
    color: #0ab835;
}


.boton-ver-mas {
    display: block;
    width: fit-content;
    margin: 2rem auto 0 auto;
}

/* Contacto */

section#contact {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;

}

.form {
    width: 90%;
    max-width: 360px;
    min-width: 360px;
    padding: 0em 1em 2em 1em;

}

.form_container {
    padding-top: 1em;
    width: 100%;
    display: grid;
    gap: 1em;
    grid-auto-columns: 100%;
}

.form__input {
    font-size: 1rem;
    padding: .8em 1em;
    outline: none;
    border: none;
    border: 1px solid rgb(154, 198, 216);
    border-radius: 0.2em;
}

.form__cta {
    color: #fff;
    border: none;
    font-weight: 300;
    font-size: 1rem;
    padding: .7em 0;
    border-radius: .2em;
    cursor: pointer;
}

.form__cta:hover {
    background: #4eadf1;
}

/*  */


#datos_contacto {
    max-width: 360px;
    min-width: 360px;
}

.col {
    /* color: #0381ff; */
    padding: 20px 0px 20px 55px
}

.col .fa {
    scale: 140%;
}

/* #datos_contacto .redes {
    font-size: .6em;
    padding: 20px 45px;
} */
/* 
.fa-stack {
    color: #2f3336;
    display: inline-block;
    text-decoration: none;
    border: 2.5px solid #fff;
    border-radius: 100%;
    width: 42px;
    height: 42px;
    line-height: 42px;
    margin: 40px;
    font-size: 20px;
    transition: .3s;
}

.fa-stack:hover {
    color: #1CB698;
} */

/* Footer */

.container-footer{
    width: 100%;
    padding: 40px 0;
    background: #877e7e;
    margin-top: 40px;
    box-shadow: -10px 0 25px -10px #000000;
    border-radius: 6px;
}

.container-footer footer{
    max-width: 1200px;
    margin: auto;
}

.container-footer footer h5{
    text-align: center;
    color: #fff;
}

.container-footer footer .logo-footer{
    text-align: center;
}

.container-footer footer .logo-footer img{
    width: 100px;
    border-radius: 100%;
}

.container-footer footer .redes-footer{
    display: flex;
    justify-content: center;
}

.container-footer footer .fa-brands{
    font-size: 25px;
    margin: 10px;
    width: 70px;
    height: 70px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.fa-brands {
    color: #000000;
    margin: 10px;
}

.fa-facebook:hover {
    color: rgb(0, 8, 245);
}

.fa-instagram:hover {
    color: #dd45aa;
}

.fa-whatsapp:hover {
    color: #0ab835;
}